.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-two{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-right: calc(50% - 530px);
  padding: 0 20px;
}